.mui-panel {
    box-shadow: 10px 10px #00000042;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 3px solid #000000;
    border-radius: 6px;

    background-image: linear-gradient(#ffffff, #dedede);

}

.mui-appbar {
    box-shadow: 0px 0px 15px #000000a8;
    background-image: linear-gradient(to bottom,
            rgb(63, 226, 255),
            rgb(255, 58, 189));
}

.mui-btn {
    box-shadow: 3px 3px 5px #0000004d;
    background-color: #9370db;
    width: 100%;
    margin-bottom: 3px;
}

.mui-btn:hover {
    box-shadow: 3px 3px 5px #00000071;
    background-color: #ff69b4;
}

.mui-btn:focus {
    box-shadow: 3px 3px 5px #00000071;
    background-color: #ff69b4;
}

.header {
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
    color: #000000c5;
    text-shadow: 1px 1px 2px #0000006c;
}

.date {
    margin-top: 0px;
    letter-spacing: 3px;
    color: #00000067
}

.preview {
    color: #000000b3;
    text-align: justify;
}

body {
    background-image: linear-gradient(45deg, #a85690, #4c229e);
    background-attachment: fixed;
}

#copyright {
    text-align: center;
    color: white;
}

#content {
    color: white;
    margin: 20px;
    padding-top: 5px;
    text-shadow: 2px 2px 1px #000000;
    text-align: justify;
}

#contentFrame {
    /* background-color: #0000004d; */
    background-image: linear-gradient(0deg, #00000062, #00000018);
    box-shadow: 3px 3px 5px #00000071;
    margin: 20px auto;
    margin-top: 25px;
    border-radius: 10px;
    max-width: 59%;
}

@media (max-width: 768px) {
    #contentFrame {
        max-width: 94%;
        /* Remove the maximum width on small screens */
    }
}

p,
ul,
pre {
    padding-bottom: 10px;
}

#content h1 {
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: #0000004d;
    box-shadow: 2px 2px 2px #0000005b;
}

p img {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    filter: drop-shadow(2px 2px 1px rgb(0, 0, 0));
}

code {
    background-color: #0000003d;
    border-radius: 5px;
    padding: 10px;
}